:root {
  --main-title-color: #ffffff;
  --main-second-color: #2e2f42;
  --main-btn-color: #4d5ae5;
  --second-btn-color: #404bbf;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #434455;
  margin: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*======================Header===================*/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  padding: 24px 16px;
}

.site-nav,
address {
  display: none;
}

.logo-web {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo-studio {
  color: #2e2f42;
}

.header-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
}

.mob-menu-open-btn {
  background-color: transparent;
  margin-left: auto;
  border: none;
}

.mob-menu-icon {
  stroke: #2e2f42;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  padding: 80px 24px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.menu-container.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.mob-menu-close-btn {
  margin-left: auto;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-link {
  display: block;
  color: #2e2f42;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  margin-bottom: 40px;
}

.link-current {
  color: #404bbf;
}

.mob-menu-tel {
  display: block;
  color: #434455;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  margin-top: 284px;
  margin-bottom: 40px;
}

.mob-menu-meil {
  display: block;
  color: #434455;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 48px;
}

.mob-menu-soc {
  display: flex;
  gap: 56px;
}

.soc-media-link {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateX(0);
}

/*======================Hero=====================*/

.hero {
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  padding: 112px 54px 240px;
  text-align: center;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Hero-bg-mob.png);
  background-size: cover;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Hero-bg-mob-2px.png);
  }
}

.hero-top-title {
  color: var(--main-title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  margin: 0 auto 72px;
  max-width: 320px;
}

.modal-btn {
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--main-title-color);
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  display: block;
  margin: 0 auto;
}

.modal-btn:hover,
.modal-btn:focus {
  color: #ffffff;
  background: #404bbf;

  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 88px;
  padding-bottom: 16px;
  background-color: rgba(46, 47, 66, 0.4);
  background: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
  position: absolute;
  padding: 0 24px;
  padding-top: 72px;
  top: 55%;
  left: 50%;
  max-width: 392px;
  width: calc(100% - 36px);
  background-color: #fcfcfc;
  overflow-y: scroll;
  transform: translate(-50%, -50%) scale(1) rotateY(0);
  opacity: 1;
  transition: transform 500ms linear 200ms, opacity 700ms linear;
}

.modal-close {
  display: flex;
  margin-left: auto;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  fill: #000000;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  fill: #ffffff;
}

.modal-close-icon {
  top: 8px;
  left: 8px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  height: 40px;
  left: 32px;
  top: 18px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  outline: transparent;
}

.modal-input::placeholder {
  font-size: 12px;
  color: rgba(46, 47, 66, 0.4);
}

.modal-lable-text {
  display: inline-block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}

.input-wrap {
  position: relative;
  margin-bottom: 8px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  resize: none;
  outline: transparent;
  padding-top: 8px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.check-text {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.check-text span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.privacy policy {
  color: #4d5ae5;
}

.modal-check:checked + .check-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-btn-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 24px;
  background: #4d5ae5;
  width: 169px;
  height: 56px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  border: transparent;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*==========================About============================*/
.about {
  padding-top: 96px;
  padding-bottom: 96px;
}

.hero-list {
  flex-direction: column;
  display: flex;
  text-align: center;
  gap: 72px;
}

.hero-second-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.section-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: justify;
}

.feature-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.feature-link {
  display: none;
}

/*==================What are we doing============*/

.about-work {
  display: none;
}

/*=====================Our Team==================*/

.about-team {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #f4f4fd;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.about-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 16px;
}

.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
  color: #2e2f42;
}

.team-section-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.taem-soc-item {
  height: 40px;
  width: 40px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-icon {
  fill: currentColor;
}

/*======================Customers=====================*/

.сustomers {
  position: relative;
  background-color: #ffffff;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 96px;
}
.сustomers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.сustomers-logo {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
  justify-content: center;
}

.сustomers-item {
  width: 190px;
}

.сustomers-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.сustomers-icon {
  fill: #afb1b8;
}

.сustomers-link:hover {
  border-color: #4d5ae5;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), linear;
}

.сustomers-link:hover .сustomers-icon {
  fill: #4d5ae5;
}

/*======================footer=====================*/

.footer {
  background-color: #2e2f42;
  padding: 96px 80px;
  margin-right: auto;
}

.footer-wrap {
  flex-direction: column;
  align-items: center;
}

.logo-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  margin-top: 16px;
  max-width: 264px;
}

.logo-studio-footer {
  color: #f4f4fd;
}

.social-nav {
  align-items: center;
  margin-top: 72px;
}

.social-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  margin-top: 72px;
}

.component-form {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}

.footer-soc-item {
  height: 40px;
  width: 40px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-soc-icon {
  fill: currentColor;
}

.footer-soc-link:hover {
  background-color: #31d0aa;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), linear;
}

.footer-soc-link:hover .footer-soc-icon {
  fill: #8e8f99;
}

.footer-component {
  align-items: center;
  /*margin-left: 80px;*/
  padding-bottom: 132px;
}

.component-field {
  display: flex;
  flex-wrap: wrap;
}

.component-input {
  padding: 8px 16px 8px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  width: 398px;
  height: 40px;
  color: #f4f4fd;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.component-btn-input {
  width: 165px;
  height: 40px;
  padding: 8px 24px;
  margin: 0 auto;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: transparent;
  display: flex;
  gap: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.component-btn {
  margin-top: 16px;
}

.component-icon {
  top: 8px;
  left: 117px;
}
