@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  /*======================Header===================*/

  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .site-nav {
    display: flex;
  }

  .address {
    display: block;
  }

  .logo-link {
    margin-right: 78px;
  }

  .contact {
    margin: 0px 12px;
  }

  .mail {
    display: inline;
    margin-bottom: 12px;
  }

  .contact-list {
    display: flex;
    gap: 40px;
  }
  .current::after {
    top: 70px;
  }
  .hero {
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    padding: 112px 54px 240px;
    text-align: center;
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Hero-bg-mob.png);
    padding-top: 112px;
    padding-bottom: 112px;
    background-size: cover;
    max-width: 767px;
    margin: 0 auto;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Hero-bg-mob-2px.png);
    }
  }

  .hero-top-title {
    color: var(--main-title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    margin: 0 auto 72px;
    max-width: 320px;
    text-transform: capitalize;
  }

  .modal {
    width: 408px;
    height: 584px;
  }
}
