@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }

  .about-list > .container {
    width: 264px;
  }

  .about-list {
    gap: 72px;
    margin: 82px;
    justify-content: center;
  }

  .header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .site-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
  }

  .logo-link {
    margin-right: 76px;
  }

  .logo-web {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }

  .logo-studio {
    color: #2e2f42;
  }

  .logo-studio-footer {
    color: #f4f4fd;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }

  .header-link {
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-link:hover,
  .header-link:focus {
    color: #404bbf;
  }

  .header-link.current {
    color: #404bbf;
  }

  .current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0px;
    bottom: 0;
    top: 45px;
    display: block;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .contact-list {
    display: flex;
    gap: 40px;
  }

  .contact {
    display: block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .contact:hover,
  .contact:focus {
    color: #404bbf;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-item {
    font-style: normal;
    margin-left: auto;
  }

  .hero {
    width: 428px;
    height: 432px;
  }

  .hero-top-title {
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    width: 320px;
    height: 80px;
  }

  .modal-btn {
  }

  .hero-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }

  .team-soc-list {
    margin-left: 16px;
    margin-right: 16px;
  }

  .сustomers {
    width: 396px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .ihfo > .container {
    width: 738px;
  }

  .about-list > .container {
    width: 264px;
  }

  .about {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .hero {
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Hero-bg-tab.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    width: 768px;
    height: 436px;
    padding: 112px 136px 204px;
    width: 768px;
    height: 436px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Hero-bg-tab-2px.png);
    }
  }

  .hero-top-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
  }

  .hero-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }

  .about-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }

  .ihfo > .container {
    width: 1158px;
    width: calc((100% - 72px) / 4);
  }

  .about-item > {
    width: calc((100% - 48px) / 3);
  }

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg.jpg);
    width: 1440px;
    height: 600px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Hero-bg-2px.jpg);
    }
  }

  .hero-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  .feature-link {
    display: flex;
  }
  .feature-list {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
  }

  .feature-item {
    width: 264px;
    height: 112px;
  }

  .feature-link {
    width: 100%;
    height: 100%;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    border-radius: 4px;
  }
}
