@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }

  .about-list > .container {
    width: 264px;
  }

  .about-list {
  gap: 72px;
    margin: 82px;
  justify-content: center;
}

  .hero-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }

  .team-soc-list {
  margin-left: 16px;
    margin-right: 16px;}

    .Ñustomers {
    width: 396px;}
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .ihfo > .container {
    width: 738px;
  }

  .about-list > .container {
    width: 264px;

  .about {
    padding-top: 96px;
    padding-bottom: 96px;}

  .hero-main-title {
    margin-bottom: 72px;
  }

  .hero-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }

  .about-item {
    width: calc((100% - 24px) / 2);
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }

  .ihfo > .container {
    width: 1158px;
    width: calc((100% - 72px) / 4);
  }

  .about-item > {
    width: calc((100% - 48px) / 3);
  }

  .hero-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  .feature-link {
    display: flex;
  }
  .feature-list {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
  }

  .feature-item {
    width: 264px;
    height: 112px;
  }

  .feature-link {
    width: 100%;
    height: 100%;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    border-radius: 4px;
  }
}
