@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  /*======================Header===================*/

  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .site-nav {
    display: flex;
  }

  .address {
    display: block;
  }

  .header-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    margin-right: 121px;
  }

  .header-link.current {
    color: #404bbf;
  }

  .current::after {
    position: absolute;
    content: "";
    display: block;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    top: 68px;
  }

  .logo-link {
    margin-right: 120px;
  }

  .contact {
    margin: 0px 12px;
  }

  .mail {
    display: block;
    margin-bottom: 12px;
  }

  .contact-item {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
  }

  .mobile {
    display: none;
  }

  .menu-container {
    display: none;
  }

  /*======================Hero=====================*/

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Hero-bg-tab.png);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Hero-bg-tab-2px.png);
    }
  }

  .hero-top-title {
    font-size: 56px;
    line-height: 1.07;
    margin: 0 auto 72px;
    max-width: 496px;
  }

  .modal {
    width: 408px;
    height: 586px;
  }

  /*==========================About============================*/
  .about {
    padding-left: 16px;
    padding-right: 16px;
  }

  .hero-list {
    display: flex;
    width: 736px;
    flex-wrap: wrap;
  }

  .feature-item {
    height: 112px;
    margin-bottom: 72px;
  }

  /*.info-list {
  width: calc((100% - 72px) / 4);
}*/

  .hero-second-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 8px;
    color: #2e2f42;
    margin-bottom: 8px;
  }

  .section-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    width: 396px;
    height: 48px;
    text-align: justify;
  }

  .feature-list {
    justify-content: center;
    margin-bottom: 8px;
  }

  .feature-link {
    width: 100%;
    height: 100%;
    background-color: brown;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    border-radius: 4px;
  }
}
