@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  /*======================Header===================*/

  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .site-nav {
    display: flex;
  }

  .address {
    display: block;
  }

  .header-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    margin-right: 121px;
  }

  .header-link.current {
    color: #404bbf;
  }

  .current::after {
    position: absolute;
    content: "";
    display: block;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    top: 68px;
  }

  .logo-link {
    margin-right: 120px;
  }

  .contact {
    margin: 0px 12px;
  }

  .mail {
    display: block;
    margin-bottom: 12px;
  }

  .contact-item {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
  }

  .mobile {
    display: none;
  }

  .menu-container {
    display: none;
  }

  /*======================Hero=====================*/

  .hero {
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    padding: 112px 54px 240px;
    text-align: center;
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Hero-bg-mob.png);
    padding-top: 112px;
    padding-bottom: 112px;
    background-size: cover;
    max-width: 767px;
    margin: 0 auto;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Hero-bg-mob-2px.png);
    }
  }

  .hero-top-title {
    color: var(--main-title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    margin: 0 auto 72px;
    max-width: 320px;
    text-transform: capitalize;
  }

  .modal-btn {
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--main-title-color);
    background: #4d5ae5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    display: block;
    margin: 0 auto;
  }
  .modal-btn:hover,
  .modal-btn:focus {
    color: #ffffff;
    background: #404bbf;

    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
